
/** Custom css **/



/** Contact Intro css **/
.all-page-title-1{
	background-size: cover;
  background-color: #d2dad93f;
	background-repeat: no-repeat;
	padding: 90px 0px 90px 0px;
	background-position: center bottom;
}

.all-page-title-1 h1{
	position: relative;
	font-size: 36px;
	font-weight: 700;
	color: #0e0d0d;
	text-align: center;
	line-height: 1.3em;
	margin-bottom: 10px;
	text-transform: capitalize;
}

.all-page-title-1 h4{
  color: #0e0d0d;
  text-align: center;
  margin-bottom: 30px;
  text-transform: capitalize;
  font-weight: 300;
}

.all-page-title-1 p{
	color: #1d1919;
	font-size: 18px;
  text-align: center;
  text-transform: capitalize;
}

.all-page-title{
	background-size: cover;
	background-repeat: no-repeat;
	padding: 160px 0px 160px 0px;
	background-position: center bottom;
}

.all-page-title h1{
	position: relative;
	font-size: 36px;
	font-weight: 700;
	color: #ffffff;
	text-align: left bottom;
	line-height: 1.3em;
	margin-bottom: 100px;
	text-transform: capitalize;
}

.all-page-title p{
	color: #ffffff;
	font-size: 18px;
}

.page-info{
	text-align: center;
	margin-top: 50px;
  
}

.container-text-1{
  text-align: center;
  font-family: ANTHOLOGY-SANS;
}
.container-text-1 h1{
  font-weight: 20px;
  text-transform: capitalize;
  padding: 0px 200px 0px;
}

.container-text-2{
  text-align: center;
  font-family: ANTHOLOGY-SANS;
  color: white;
  text-transform: capitalize;
  
}

.container-text-2 h4{
  color: white;
  text-transform: capitalize;
  padding: 0px 250px 0px;
  margin-top: -50px;
  color:  #ffffff ;
}


.inner-container ul li{
	display: inline-block;
	color: #ffffff;
}

.inner-container ul li span{
  background: #333333;
	display: inline-block;
	color: #ffffff;
	padding: 5px 10px;	
}

.inner-container ul li a{
	background: #333333;
	display: inline-block;
	color: #ffffff;
	padding: 5px 10px;	
}

.inner-container ul li a:hover{
	color: #ffffff;
}


/** About Section **/
.about_section .img-box {
  margin-bottom: 45px;
}
.about_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about_section .img-box {
  overflow: hidden;
}
.about_section .img-box img {
  width: 100%;
  border-radius: 25px;
  margin-top: 120px;
}
.about_section .heading_container h2 hr {
  background-color: #ffffff;
}

.about_section .detail-box h2 {
  margin-bottom: 10px;
  font-size: 40px;
  font-weight: 500px;
}

.about_section .detail-box p {
  margin-bottom: 25px;
  font: bold;
}

.about_section .detail-box a {
  display: inline-block;
  padding: 8px 30px;
  background-color: #5aa469;
  color: #ffffff;
  border-radius: 0;
  text-transform: uppercase;
}

.about_section .detail-box a:hover {
  background-color: #51945e;
}



/** Footer Section **/
.info_section {
    background-color: #121212;
    color: #ffffff;
    padding: 75px 0;
  }
  .info_section h5 {
    margin: 20px 0 25px 0;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    font-size: large;
  }
  .info_section .form_heading {
    font-weight: normal;
    text-transform: uppercase;
  }
  .info_section .info_logo a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-bottom: 25px;
  }
  .info_section .info_logo a img {
    width: 40px;
    -webkit-filter: invert(1);
            filter: invert(1);
  }
  .info_section .info_logo a span {
    font-size: 24px;
    font-weight: 700;
    color: #ffffff;
    margin-left: 10px;
    text-transform: uppercase;
  }
  
  .info_section .info_form form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
.info_section .info_form form input {
    min-width: 100%;
    height: 45px;
    border-radius: 30px;
    border: none;
    outline: none;
    padding: 0 15px;
  }
  .info_section .info_form form button {
    padding: 0 45px;
    height: 40px;
    outline: none;
    border: none;
    border-radius: 30px;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #5aa469;
    -webkit-transform: translate(-102%);
            transform: translate(-102%);
    margin-top: 2.5px;
  }  
  .info_section .contact_link_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .info_section .contact_link_box a {
    margin: 5px 0;
    color: #ffffff;
  }
  .info_section .contact_link_box a i {
    margin-right: 5px;
  }
  .info_section .contact_link_box a:hover {
    color: #5aa469;
  }
  .info_social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
.info_social a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #ffffff;
    border-radius: 100%;
    margin-right: 10px;
    font-size: 24px;
  }
  .info_social a:hover {
    color: #5aa469;
  }
  


